<!-- Main -->
<main id="main column col-12">
  <section class="home-section columns col-12">
    <div class="cats-container-top columns col-12">

      {{#each images}}
        {{#if isTop}}
          <img class="column col-2" src="{{iURL}}" alt="{{iURLAlt}}" />
          {{!-- <img class="column col-2" src="{{iURL}}" alt="{{iURLAlt}}" /> --}}
        {{/if}}
      {{/each}}

    </div>
    <div class="welcome-container coulmn col-12">
      <h1>WELCOME!</h1>
      <h6>to my</h6>
      <h5><span class="amazing-span">&#9829;&#9829;&#9829;</span>
        amazing
        <span class="amazing-span">&#9829;&#9829;&#9829;</span></h5>
      <h4 class="column col-12" id="portfolio-text"><span
        >✨✨✨</span>purrrtfolio<span>✨✨✨</span></h4>
    </div>
    <div class="cats-container-bottom columns col-12">
      {{#each images}}
        {{#if isBottom}}
          <img class="column col-2" src="{{iURL}}" alt="{{iURLAlt}}" />
          {{!-- <img class="column col-2" src="{{iURL}}" alt="{{iURLAlt}}" /> --}}
        {{/if}}
      {{/each}}
    </div>
  </section>
</main>