<!-- Main -->
<main id="main" class="column col-12 main-users">
  <div class="column col-12">
    <h1 class="section-title">Users</h1>
    <div class="section-line columns col-12"></div>
  </div>
  {{#if hasDatabaseError}}
  <div>
    Sorry, there was a problem with the database:<br />
    {{theError}}
  </div>
  {{else}}
  <section class="contact-section columns col-12">
    <div class="contacts columns col-12 col-md-12">
      {{#each users}}
      {{#if ../loggedIn}}
      {{#if ../isAdmin}}
      <div class="users-container columns col-12">
        <div class="users-small-container columns col-5">
        <div class="columns col-12 user-container">
           <label class="column col-12" for="uName">Nick</label>
                <br />
          <h3 class="column col-12">{{uName}}</h3>
          </div>
<div class="columns col-12 user-container">
           <label class="column col-12" for="uUserName">Username</label>
                <br />
          <h3 class="column col-12">{{uUserName}}</h3>
          </div>
          <div class="columns col-12 user-container">
           <label class="column col-12" for="uPassword">Password</label>
                <br />
          <h6 class="column col-12">{{uPassword}}</h6>
          </div>
          <div class="columns col-12 user-container">
           <label class="column col-12" for="uType">Type</label>
                <br />
          <h3 class="column col-12">{{uType}}</h3>
          </div>
          </div>
          <div class="icons-container contact-icons columns col-2">
            <div class="column col-4">
              <a href="/users/edit/{{uId}}">
                <img src="img/pencil-edit.svg" alt="">
              </a>
            </div>
            <div class="column col-4">
              <a href="/users/delete/{{uId}}">
                <img src="img/trash.svg" alt="">
              </a>
            </div>
          </div>
      </div>
      {{/if}}
      {{/if}}
      {{/each}}
    </div>
     <div class="add-button-container column col-12">
      <a class="new-button" href="/users/new">Add a new user!</a>
      </div>
  </section>
  {{/if}}
</main>
